.button-primary{
    background:$primary;
    color:white !important;
    padding: 12px 40px;

    &:hover{
        background:darken($primary,7%);
    }
    &:disabled{
        background:lighten($primary,10%);
        cursor:not-allowed;
    }
}